*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: theme('colors.gray.900');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
